:root {
	--main-background-color: #1E1E1E;
	--main-color: #F3F3F3;
	--secondary-color: #4AD43B;

	--sidebar-background-color: #191919;
	--sidebar-color: #5E5E5E;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI';
	background: var(--main-background-color);
	color: var(--main-color);
	height: 100%;
}

#root {
	width: 100vw;
	height: 100vh;
}

/* Why h2's parent gets h2 margin value? */
h2 {
	font-weight: inherit;
	margin: 0;
}

p {
	font-size: 21px;
	font-weight: 200;
}

.s-x-15 {width: 120px;}
.s-y-15 {height: 120px;}
.s-x-25 {width: 325px;}

.a-x-c {justify-content: center;}
.a-y-l-c {align-items: center;}
.a-t-c {text-align: center;}

.m-y-3 > * {margin-top: 6px; margin-bottom: 6px;}

.icon {
	margin-block-start: 20px;
    margin-block-end: 40px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 380px;
	background-color: var(--sidebar-background-color);
	color: var(--sidebar-color);
	padding: 55px 35px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__boards__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.sidebar__boards__header__title {
	color: var(--sidebar-color);
	margin: 0;
	line-height: 38px;
	font-size: 20px;
}

.sidebar__boards__header__create-button {
	border: none;
	background-color: var(--main-background-color);
	height: 40px;
	width: 40px;
	border-radius: 10px;
	font-size: 26px;
	color: var(--secondary-color);
	cursor: pointer;
}

.sidebar__boards__list {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar__boards__list__item {
	cursor: pointer;
	display: flex;
    padding: 10px;
}

.sidebar__boards__list__item--active {
	background: var(--main-background-color);
	border-radius: 20px;
}

.sidebar__boards__list__item__color-icon {
	display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.sidebar__boards__list__item a {
	text-decoration: none;
	color: var(--sidebar-color);
	margin-left: 25px;
}

.sidebar__search__input {
	width: 100%;
	border: none;
    outline: none;
	font-size: 16px;
    padding: 10px 15px;
	background-color: #212121;
	border-radius: 10px;
	color: var(--main-color);
}

.main {
	padding-left: 380px;
	height: 100%;
}

.board {
	height: 100%;
}

.board__no-content {
	display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.board__no-content__wrapper {
	text-align: center;
	max-width: 530px;
}

.board__no-content__head {
	font-size: 55px;
	font-weight: normal;
	margin-block-start: 0;
	margin-block-end: 40px;
}

.board__no-content__text {
	font-size: 22px;
    color: #757575;
    font-weight: normal;
    margin: 0;
    line-height: 35px;
}